@import url('https://fonts.rcvd.io/iA Writer/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Cormorant:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&display=swap');
/* font-family: 'Cormorant', serif; font-family: 'Cormorant SC', serif; font-family: 'Rubik Mono One', sans-serif; "iA Writer Mono S"*/

:root {
    --bg-color: #FDFCFB;
    --text-color: #3A3A3A;
    --divider-color: rgba(0,0,0,0.15);
    --salmon-color: #EF4444;
    --mid-salmon: #ef444491;
    --mid-gray: #505050;
    --test-color: #FC21BE;
    --bquote-color: #FBF3F3;
    --bquote-border: #E9CBCB;
    --body-font: "iA Writer Mono S";
}

/*Salmon color is applied in many specific tags out of need to override styles coming from static site's libraries*/

body>header, .main, .references, footer {
    margin: 1em auto;
    max-width: 850px;
  }

body>header {
    border-bottom: 1px solid var(--divider-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.3rem;
    line-height: 2.8rem;
    margin-top: 1.5rem;
    font-family: "iA Writer Quattro S";
    font-style: normal;
    font-weight: bold;
}

.titlediv {
    font-size: 1rem;
    line-height: 2.8rem;
    font-family: "Rubik Mono One";
    font-style: normal;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

/*Pending matter, may not be needed anymore, still connected to other styling aberrations*/

header a {
    text-decoration: none;
    color: var(--salmon-color);
    margin-left: auto;
    margin-right: auto;
}

header>a:hover {
    color: var(--salmon-color);
    text-decoration: none;
}

header>div>a {
    font-size: 15px;
    font-family: var(--body-font);
    margin-left: 20px;
    text-decoration: none;
    color: var(--salmon-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.1em !important;
    font-family: var(--body-font) !important;
}

/* CONTENT HEADER AND FOOTER */

.content-header {
    margin: auto auto 1.5em auto;
    width: 90%;
    text-align: center;
    font-family: var(--body-font);
    font-style: normal;
    font-size: 1em;
    color: var(--text-color);
}

.content-footer {
    margin: 2.5em auto auto auto;
    width: 90%;
    text-align: center;
    font-family: var(--body-font);
    font-style: normal;
    font-size: 1em;
    color: var(--text-color);
}

#oneliner {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-style: italic;
}

#intro {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.8;
    color: var(--mid-gray);
}

#pubdate {
    font-size: 0.8em;
}

#wordcount {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 0.8em;
    color: (--mid-gray);
}

#pagetype {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-style: italic;
    font-size: 0.9em;
    color: (--mid-gray);
}

#apart {
    margin-block-start: 1em;
    color: var(--divider-color);
    text-align: center;
    font-size: 1em !important;
}

/* CONTENT CHASER */

.chaser .roam-block {
  margin: auto;
  width: 100%;
  text-align: center;
}

.chaser {
  margin: auto;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  margin-block-start: 2.50em;
  font-style: normal;
}

.chaser h3 {
  margin-block-start: 1em
}

.ml-form-embed {
  margin: auto;
  width: 100%;
  text-align: center;
}

/* FOOTER STYLES */

body>footer {
    margin-top: 40px;
    padding: 30px 0 50px 0;
    border-top: 1px solid var(--divider-color);
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    font-family: var(--body-font);
    font-size: 1em;
    font-weight: bold;
}

footer a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--salmon-color);
    font-weight: bold;
}

.footerlink {   
    text-decoration: none;
    color: var(--salmon-color);
    text-align: center;
    font-family: 'Rubik';
    font-size: 0.9em;
}

.footerdiv {
    padding: 0.1em 0.6em 0 0.6em;
    color: var(--divider-color);
    font-size: 0.9em;
}

/* ROAM BLOCKEMBED STYLE AND BLOCKREF STYLE */

.rm-embed-container {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0;	
}

.rm-embed-link {
    display: none;
}

.rm-embed-container ul ul{
    padding-inline-start: 0;
}

/* STYLES FOR THE "KEY PHRASES"*/

.key {
    margin-block-start: 2em !important;
    margin-block-end: 2em !important;
    width: 90% !important;
}

.key p {
   font-style: italic !important;
   font-weight: bold !important;
}

.key:after {
    content: '✦';
    color: var(--mid-salmon);
    text-align: center;
}

.lowkey {
    margin-block-start: 2em !important;
    margin-block-end: 2em !important;
    width: 90% !important;
}

.lowkey p {
   font-style: italic !important;
   font-weight: bold !important;
   font-family: 'Cormorant SC';
}


.finalkey {
    margin-block-start: 2em !important;
    margin-block-end: 2em !important;
    width: 90% !important;
}

.finalkey p {
   font-style: italic !important;
   font-weight: bold !important;
}

.diamond {
    margin-block-start: 2em !important;
    margin-block-end: 2em !important;
}

.diamond:before {
    content: '✦';
    color: var(--mid-salmon);
    text-align: center;
}

/* STYLES FOR iFRAMES */

.iframe-wrapper {
    position: relative;
    padding-bottom: 52%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-wrapper iframe,
.iframe-wrapper object,
.iframe-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px){
	.iframe-wrapper {
    position: relative;
    padding-bottom: 47%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
}

/* STYLES FOR BLOCK QUOTES */

.main .rm-bq {
   background-color: var(--bquote-color);
   border-left: 5px solid var(--bquote-border);
   padding: 1.2em 1.4em 1.2em 1.6em;
   margin: 2em 0.5em 2em 0.75em;
   font-style: italic;
}

/* STYLES FOR BLOCK REFERENCES */

.main .rm-block-ref {
   text-decoration: none !important;	
}

/* STYLES FOR DOSSIER "UNDERHEADINGS" */

.uh {
   color: var(--mid-gray);
   line-height: 2.1;
   margin-block-end: 2.2em !important;
}

.main h1 {
    font-size: 2.15rem;
    line-height: 2.8rem;
    margin-top: 1.5rem;
    font-family: "iA Writer Quattro S";
    font-style: normal;
    font-weight: bold;
    white-space: normal;
    margin: 0.67em 0 0.40em 0;
    text-align: center;
}

h2 {
    font-family: "iA Writer Duo S";
    font-weight: 700;
    font-size: 1.25em;
    margin-block-start: 2.1em;
    font-style: italic;
}

h2 .rm-page-ref {
    text-decoration: underline;
    text-decoration-color: var(--bquote-border);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
}

h2 .rm-alias {
    text-decoration: underline;
    text-decoration-color: var(--bquote-border);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
}

h3 {
    font-family: "iA Writer Duo S";
    font-style: normal;
    margin-block-start: 2.05em;
}

h3 .rm-page-ref {
    text-decoration: underline;
    text-decoration-color: var(--bquote-border);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
}

h3 .rm-alias {
    text-decoration: underline;
    text-decoration-color: var(--bquote-border);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
}

.main p, li {
    font-family: var(--body-font);
    font-style: normal;
    line-height: 1.8;
    margin-bottom: 20px;
    hyphens: auto;
}

li a {
    color: var(--salmon-color);
    text-decoration: underline;
    text-decoration-color: var(--bquote-border);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
}

li a:hover {
    color: var(--salmon-color);
    text-decoration: none;
}

.roam-block img {
    margin: 0 auto;
    width: 100%;
}

/* REFERENCES STYLES */

.references {
    margin: auto;
    width: 85%;
    margin-bottom: 2em;
}

.references header {
    width: 100%;
    margin: auto;
}

.references li {
    list-style: none;
    margin: 1em auto;
    width: 100%
}

.references a {
    font-family: var(--body-font);
    font-style: normal;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

ul>li>a {
    color: var(--salmon-color);
    text-decoration: underline;
    text-decoration-color: var(--bquote-border);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
}

/* CONTENT MARGINS */

.roam-block.left {
    list-style: none;
    margin: 0px;
}

.roam-block {
    margin: auto;
    width: 85%;
    list-style: none;
    transition: opacity 1s ease-in-out 0s, transform 1s ease 0s;
}

.roam-block .roam-block {
    margin: auto;
    width: 100%;
    list-style: none;
}

ul>li {
    margin: auto;
    width: 90%;
    text-align: left;
    
}

ul {
    padding-inline-start: 0px;   
}

ul ul {
    list-style-type: disc;	
}

ul ul ul {
    list-style-type: disc;
    padding-inline-start: 20px;
}

.main .roamjs-image-container {
   margin: 30px auto 15px auto;
   max-width: 500px;
}

.main .roamjs-image-caption {
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 1.75em;
    font-style: italic;
    font-size: 0.9rem;
}

.main hr {
  border-top: 1px solid var(--divider-color);
}

/*RESPONSIVE STYLES: SMARTPHONE*/

@media only screen and (max-width:600px){

	body {
	   padding: 0.5em;
	}

	body ul {
	   padding-inline-start: 0px;
	}
	
	.main h1 {
	   font-size: 1.6rem;
	   margin-bottom: 0.25em;
	}
	
	.main h2 {
	   font-size: 1.1rem;
	}
	
	.main h3 {
	   font-size: 1.13rem;
           font-weight: bold;
	}
	
	li a {
           text-underline-offset: 0.2em;
        }
	
	#oneliner {
   	   margin-block-start: 0.75em;
    	   margin-block-end: 1em;
    	   font-size: 1.13rem;
        }
	
	#pubdate {
    	   font-size: 1rem;
        }
	
	#wordcount {
           font-size: 0.9rem;
        }
	
	.main .rm-bq {
  	   padding: 1.2em 1.2em 1.2em 1.4em;
 	   margin: 2em 0 2em 0;
	}
	
	.roam-block {
           margin: auto;
           width: 90%;
        }
	
	.references {
	   width: 90%;	
	}
	
	/* CONTENT-CHASER CONTAINER ADJUSTMENT FOR MOBILE */
	.chaser .roam-block {
	  margin: auto;
	  width: 85%;
	  text-align: center;
	}
	
	/* ADJUSTMENT SO FOOTER FLOWS AS COLUMN ON MOBILE */
	
	body>footer {
          flex-direction: column;
        }
	
	.footerlink {   
	   margin: auto;
           width: 100%;
	   padding: 15px 0 15px 0;
        }

        .footerdiv {
           display: none;
        }


}

/*RESPONSIVE STYLES: TABLETS*/

@media only screen and (max-width:770px){

	body {
	   padding: 1em;
	}

	body ul {
	   padding-inline-start: 0px;
	}
	
	.references {
	   width: 85%;	
	}
	
	.main h1 {
	   font-size: 1.6rem;
	   margin-bottom: 0.25em;
	}
	
	.main h2 {
	   font-size: 1.25rem;
	}
	
	.main h3 {
	   font-size: 1.13rem;
           font-weight: bold;
	}
	
	li a {
           text-underline-offset: 0.2em;
        }
	
	#pubdate {
    	   font-size: 1rem;
        }
	
	#wordcount {
           font-size: 0.9rem;
        }
	
	.main .rm-bq {
  	   padding: 1.2em 1.2em 1.2em 1.4em;
 	   margin: 2em 0 2em 0;
	}
	
	.roam-block {
           margin: auto;
           width: 85%;
        }
	
	/* CONTENT-CHASER CONTAINER ADJUSTMENT FOR MOBILE */
	.chaser .roam-block {
	  margin: auto;
	  width: 85%;
	  text-align: center;
	}
	
	.content-footer {
          width: 85%;
	}


}

/* Styles for Tipjar Buttons */

#tipjar {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#readaround {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: inline-flex;
  border: none !important;
  border-radius: 4px!important;
  height: 40px;
  width: 150px;
  margin: 20px 20px 20px 20px;
  color: #fff!important;
  background-color: #eb7676 !important;
  text-decoration: none;
  font-family: Oxygen,sans-serif!important;
  font-size: 14px!important;
  font-weight: 700!important;
  line-height: 21px!important;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #fff !important;
  text-decoration: none;
}

#button-2:hover {
  background-color: #ee9f9f !important;
}

/* Test Styles */

.fade-transition {
  opacity: 1 !important;
  transform: none !important;
}
