@import url('https://fonts.rcvd.io/iA Writer/stylesheet.css');

:root {
    --bg-color: #fdfcfb;
    --text-color: #3a3a3a;
    --divider-color: rgba(0,0,0,0.1);
    --salmon-color: #EF4444;
    --test-color: #FC21BE;
    --bquote-color: #F5F5F5;
    --body-font: "iA Writer Mono S";
}

/*Salmon color is applied to many specific tags out of need to override styles coming from image preview plugin*/

body>header, .main, .references, footer {
    margin: auto;
    max-width: 850px;
  }

body>header {
    border-bottom: 1px solid var(--divider-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.3rem;
    line-height: 2.8rem;
    margin-top: 1.5rem;
    font-family: "iA Writer Quattro S";
    font-style: normal;
    font-weight: bold;
}

/*Pending matter, may not be needed anymore, still connected to other styling aberrations*/

header a {
    text-decoration: none;
    color: var(--salmon-color);
    margin-left: auto;
    margin-right: auto;
}

header>a:hover {
    color: var(--salmon-color);
    text-decoration: none;
}

header>div>a {
    font-size: 15px;
    font-family: var(--body-font);
    margin-left: 20px;
    text-decoration: none;
    color: var(--salmon-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main h1 {
    font-size: 2.15rem;
    line-height: 2.8rem;
    margin-top: 1.5rem;
    font-family: "iA Writer Quattro S";
    font-style: normal;
    font-weight: bold;
    white-space: normal;
}

h2 {
    font-family: "iA Writer Duo S";
    font-style: normal;
}

h2 .rm-page-ref {
    text-decoration: none;
}

h2 .rm-alias {
    text-decoration: none;
}


h3 {
    font-family: "iA Writer Duo S";
    font-style: normal;
}

h3 .rm-page-ref {
    text-decoration: none;
}

h3 .rm-alias {
    text-decoration: none;
}

p, li {
    font-family: var(--body-font);
    font-style: normal;
    text-align: justify;
    line-height: 1.7;
    font-size: 1.1rem;
}

li a {
    color: var(--salmon-color);
}

li a:hover {
    color: var(--salmon-color);
    text-decoration: none;
}

img {
    margin: 0 auto;
    width: 100%;
}

.references {
    margin-top: 40px;
    display: none;
}

ul>li>a {
    text-decoration: none;
    color: var(--salmon-color);
}

footer {
    border-top: 1px solid var(--divider-color);
    margin-top: 40px;
    padding: 20px 0 40px 0;
    font-size: 1.1rem;
    text-align: right;
    font-family: var(--body-font);
}

footer>a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--salmon-color);
}

ul>li {
    list-style: none;
    margin: 20px;
}

ul {
 padding-inline-start: 20px;   
}

.rm-bq {
   background-color: var(--bquote-color);
   padding: 1.2em 1.4em 1.2em 1.6em;
   margin: 2em 0 2em 0;
   font-style: italic;
}

.main .roamjs-image-container {
   margin: 30px auto;	
}
    
@media only screen and (max-width:600px){
	body{
		padding: 20px;
		font-size: 137.5%;
}
	
.return-arrow{
	background-image:url(data:image/png;
	base64, iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAGYktHRAD/AP8A/6C9p5MAAAJRSURBVGhD7ZnNzsFAFIYHCQt2hASJ2GFjYSmIG2Dh73JsLYirECvBFRBsESs2/hbcAGvzdTj9Up2WdlI6kj7JiROj7fvUtB1hwwLoh7HD689iCZiNJWA2loDZMD8HbDYbdPrweDwoHA6jYDCIcrkcKhaLKJlMwigDRIAFsqlRlUgkcL/fhz3rgwsBsTKZDD4ej3AEbXAlQMrn8+HxeAxHeQ+zACuXywWv12vc6XRwtVrFTqeTknC5XHg2m8EWr/m6gJztdotLpRIlEQgENE0n0wVEWq0WdjgcTxLkmngHNwKEZrP5JEBqMBjAqDJcCRDk04ncYl/BncBut7tfxFKJ1WoFozTcLSWi0ej96SxFmEbQ0XC5FioUCtA9mEwm0NFwKZBKpaB7cDqdoKPhUoAs9KScz2foaLgUsNufY91uN+houBSQT5lQKAQdDZcC8/kcugc/JzAcDqF7kM1moVMAnge6qNfr0BkPWdzJV6jL5RJGaXQLkPCM3pool8tP4ePxOIwooytJo9H43/EnICtSaXhSvV4PRpXRnEQ882IZTbvdppbT6XQaRtXRlEQenpRRkMVbpVKh9u/3+/F+v4dPqfM2iVJ4Uqxcr1e82Wxwt9vFtVpN9SfldDqFLV7zMol0zn+rvF4vHo1GkOA9qgJqZ/6TReb84XCABNrg4kEWi8WQcLdBwrRBkUgE3tUIiCjyiW/B7XZjITDO5/P3/S8WCzgaG1+/iI1GUxIlCV7QnEQuwQu6kkgleEF3ElGCF5iSEAlesP6pNxtLwGwsAXNB6A+KCzad7FlZGgAAAABJRU5ErkJggg==);
	width:9px;
	height:9px;
	display:inline-block;
	margin-right:4px
}
