@import url('https://fonts.rcvd.io/iA Writer/stylesheet.css');

:root {
    --bg-color: #fdfcfb;
    --textolor: #3a3a3a;
    --divider-color: rgba(0,0,0,0.1);
    
}

body>header, .main, .references, footer {
    margin: auto;
    max-width: 850px;
  }

body>header {
    border-bottom: 1px solid var(--divider-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.147rem;
    line-height: 2.8rem;
    margin-top: 1.5rem;
    font-family: "iA Writer Quattro S";
    font-style: normal;
    font-weight: bold;
}

footer {
    border-top: 1px solid var(--divider-color);
    padding: 20px 0 40px 0;
    font-size: 14px;
    text-align: right;
}

ul>li {
    list-style: none;
    margin: 0;
}
    
